<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="stylesheet" type="text/css" href="../static/estilo.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sobre mim</title>
</head>

<body>
  <div class="topo">
    <h1><span>BEM VINDO AO MEU PORTFÓLIO VIRTUAL</span></h1>
  </div>
  <div class="topo2">
    <h2><span>SOBRE MIM</span></h2>
  </div>
  <div class="link">
    <div class="lacademico">
      <a href="../templates/academico.html"><span>ACADEMICO</span></a>
    </div>
    <div class="lsobremim">
      <a href="../templates/sobremim.html"><span>HOME</span></a>
    </div>
    <div class="lcontato">
      <a href="../templates/contato.html"><span>CONTATO</span></a>
    </div>
  </div>
  <div class="pc">
    <a href="#">
      <img src="../static/imagens/pc.png" alt="pc" width="230" height="230">
    </a>
    <div class="balao">
      <a href="#">
        <img src="../static/imagens/balao.png" alt="balao" width="180" height="120">
      </a>
    </div>
  </div>
  <!-- flip card da fotinha  -->
  <div>
    <section class="container flex">
      <div class="item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../static/imagens/sorrindo_500px.jpeg">
            </div>
            <div class="flip-card-back">
              <h1>Pedro Henrique</h1>
              <p>Aluno de DSM da FATEC</p>
              <p>GitHub: Pedryn</p>
              <p>instagram: @_souza_pedroh</p>
              <p>Respira, bebe uma agua e volta</p>
              <a href="https://www.youtube.com/watch?v=n-miJQUD9l4"> CLIQUE AQUI</a>
            </div>
          </div>
        </div>
      </div>
      <!--quadrado que é pra fica no centro-->
      <div class="item">
        <div class="quadrado">
          <div id="retangulo">
            <h4>APRESENTAÇÃO </h4>
            <p>Olá, meu nome é Pedro Henrique de Souza, sou nascido e criado em São José dos Campos - SP. Nasci dia
              13/08/2004, numa sexta-feira, às 3h20 da manhã. Atualmente, tenho 18 anos e eu gosto bastante de basquete
              e futebol. Sou santista, mas no basquete, meu coração é do Los Angeles Lakers.</p>
          </div>
        </div>
      </div>
      <!-- quadrado da ponta direita -->
      <div class="item">
        <div class="quadrado maior">
          <div id="retangulo_maior">
            <div class="lista1">
              <h3>Séries Favoritas</h3>
              <ol>
                <li>Vickings</li>
                <li>Stranger things</li>
                <li>Brooklyn 99</li>
                <li>The Office</li>
                <li>Last Chance U - Basquete</li>
              </ol>
            </div>
            <div class="lista2">
              <h3>Filmes Favoritos</h3>
              <ol>
                <li>Kung Fu Panda 2</li>
                <li>Batman Cavaleiro das Trevas</li>
                <li>Homem aranha 2</li>
                <li>Harry Potter e a Ordem da Fenix</li>
                <li>Senhor dos Aneis: 2 Torres</li>
              </ol>
            </div>
            <div class="divisoria"></div>
            <div class="lista1">
              <h3>Livros Favoritos</h3>
              <ol>
                <li>Harry Potter e o Prisioneiro de Azkaban</li>
                <li>Mauz</li>
                <li>Hobbit</li>
                <li>Caraval</li>
                <li>Memorias postumas de Braz Cubas</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="descricao">
  </div>
  <div class="rodape">
    <div class="rodapee">@2023_Copyright Pedro H. - DSM</div>
    <div class="imagens">
      <a href="https://www.linkedin.com/in/pedro-henrique-de-souza-128484214/">
        <img src="../static/imagens/Linkedin.png" alt="Linkedin" width="60" height="60">
      </a>
      <a href="https://www.instagram.com/_souza_pedroh/">
        <img src="../static/imagens/instagram.png" alt="instagram" width="60" height="60">
      </a>
      <a href="https://github.com/Pedryn">
        <img src="../static/imagens/github.png" alt="github" width="60" height="60">
      </a>
    </div>
  </div>
</body>

</html>